.profile {
    display: flex;
    padding: 34px 0 24px 0;
    border-bottom: 1px solid rgba(33,33,33,0.4);

    
}
.profile__avatar{
    margin-right: 20px;
}

.profile__column {
display: flex;
flex-direction: column;
}

.profile__name {
    margin: 0 0 12px 0;
    font-weight: 500;
    line-height: 1.2;
    font-size:32px;
}

.profile__description{
    margin: 0;
    font-size:16px;
    line-height: 16px;
    font-weight: 500;
}
.profile__edit-btn {
    display: flex;
    margin-top: auto;
    gap: 8px;
    background-color: transparent;
    border: none;
    align-items: center;
    opacity: 0.7;
    font-weight: 500;
    font-size: 16px;
    height: 16px;
    width: fit-content;
    padding: 0;
    cursor: pointer;
    color: #212121;
}


.profile__edit-btn:hover{
    opacity: 1;
}

.profile__edit-icon {
    width: 16px;
    height: 16px;
}

.profile__btn-icon {
    width: 12px;
    height: 12px;
    color: #FCF5E5;
}
.profile__add-btn {
    gap: 8px;
    width: 167px;
    height: 52px;
    display: flex;
    margin-top: auto;
    margin-left: auto;
    border-radius: 8px;
    background-color: #212121;
    padding: 18px 32px;
    font-size: 16px;
    font-weight: 500;
    color: #FCF5E5;
    align-items: center;
}